@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}
.jogos{
    color: white;
    background-color: #222220;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5vh;
}
.jogos p{
    margin-top: 5vh;
}
.jogos .cards{
    display: flex;
    justify-content: center;
}
.myCard{
    margin: 5vw;
}

.sobreNos{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
    text-align: center;
}
.sobreNos h2{
    margin-bottom: 5vh;
}
.sobreNos p{
    width: 50vw;
}

.sectionData{
    width: 25vw;
    display: flex;
    flex-direction: column;
}
.sectionData i{
    font-size: 4rem;
    margin-bottom: 2vh
}
.sectionData p{
    width: 25vw;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5vh
}
.sectionData p:hover{
    transition: 0.5s;
    letter-spacing: 2px;
}
.data{
    margin-top: 5vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fusao1{
    height: 15vh;
    background-image: linear-gradient(-178deg, #fff 49% ,#222220 50%);
}
.fusao2{
    height: 15vh;
    background-image: linear-gradient(178deg, #222220 49% ,#fff 50%);
}

.contato{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
}
.contato h2{

    margin-bottom: 5vh;
}
.contato p{
    font-size: 1.2rem;
    margin-bottom: 1.5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #535252a9;
}
.contato a{
    color: #222220;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
}
.contatoCEO{
    display: flex;
}
.sectionContact{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1.5vw 5vw;
}
.media-social a i{
    margin: 2vw;
}
.sectionContact img{
    border-radius: 1000px;
    width: auto;
    height: 50vh;
}

.imgLogo{
    width: 5vw;
}


@media (max-width: 768px) {  
    .sobreNos{
        margin-top: 20vh;
    }
    .sobreNos p {
        width: 80vw;
    }

    .data{
        margin-top: 10vh;
        width: 80vw;
        flex-direction: column;
    } 
    
    .sectionData{
        margin-bottom: 5vh;
        width: 80vw;
    }

    .cards{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 10vh;
        width: 100vw;
    }

    .contato a{
        font-size: 1.2rem;
    }
    .imgLogo{
        width: 20vw;
    }
    .contatoCEO{
        flex-direction: column;
    }
    .sectionContact img{
        margin: auto;
        border-radius: 1000px;
        height: auto;
        width: 60vw;
    }

    .media-social a i{
        margin-top: 5vh;
        font-size: 2rem;
    }
}